*{
    font-weight: 500;
}
/* frame--background */
.custom-frame {
    display: flex;
    margin: 10px;
    padding: 2px;
    width: fit-content;
    border: 2px solid darkgray;
    background: rgba(128, 128, 128, 0.3);
    border-radius: 1vw;
}

/* image */
.custom-image {
    margin: 3px;
    width: 10vw;
    aspect-ratio: 2/2.8;
    border-radius: 1vw;
    border: 2px solid;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Contents part of the book */
.custom-book_contents {
    margin-left: 2px;
    margin-top: 3px;
    height: 14vw;
    width: 13.3vw;
    border-radius: 1vw;
}

/* edit button */
.custom-edit {
    margin: 0 53%;
    position: relative;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aliceblue;
    border-radius: 1vw;
    font-size: 1vw;
    font-weight: 600;
}
.custom-edit img{
    padding: 0px 2%;
    height: 1vw;
}
.custom-edit:hover{
    background-color: rgb(46, 47, 84);
    color: white;
}

.custom-edit:hover img{
    filter: invert(100%);
}


/* Content section i.e name,isbn,availability etc */
.custom-content {
    position: relative;
    top: 5%;
    height: 10vw;
}

.custom-book_name{
    font-size: 1.2vw;
    max-height: 3.45vw;
    overflow: hidden;
}


.custom-author_name{
    margin-top: 1%;
    font-size: 1vw;
    max-height: 1.5vw;
    overflow: hidden;
}

.custom-details p {
    font-size: 1vw;
    letter-spacing: 0px;
}


.custom-more {
    width: 90%;
    margin-left: 3.5%;
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    font-size: 1vw;
    background: aliceblue;
    font-weight: 600;
}

.custom-more:hover {
    background-color: rgb(46, 47, 84);
    color: white;
}