.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    height: 92vh;
  }

  .book_section{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 8px;
    margin-top: 12px;
  }
  .book_details_section{
    padding: 10px;
    grid-column-start: 3;
    grid-column-end: 9;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  .book_features{
    display: flex;
    flex-direction: column;
  }

  .book_image{
    height: 60%;
    width: 100%;
}
.image{
    height: 100%;
    width: 100%;
    border-radius: 15px;

  }

  .buttons_section{
    margin-top: 1.8rem;
    margin-left: 1.5rem;
  }
.book_title{
    font-size: 1.8rem;
    font-weight: bolder;
}
.green_dot{
  box-shadow: 2px 8px green ;
}
.author{
    font-size: 1.3rem;
    margin-right: 1rem;
}
.more:hover{
    cursor: pointer;
}

.heading{
  font-size: 1.6rem;
  font-weight: bold;
}

.value{
  font-size: 1.2rem;
}

/* Edit pencil design */
.pen_icon{
    cursor: pointer;
    font-size: 0.3rem;
}

.edit_button{
    width: 80%;
}
.input_field{
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 5px;
}

.bg-red{
  background-color: rgb(230, 150, 150);
  cursor: pointer;
}
.bg-red:hover{
  background-color: rgb(234, 129, 129);
}
.bg-grey{
  background-color: rgb(230, 230, 230);
}

.take_input label{
  width: 24%;
}

.take_input input, textarea{
  padding: 5px;
  background-color: rgb(246, 226, 226);
}