.custom-Book_catalog_background {
  height: 92vh;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.custom-Book_catalog_background::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-Book_catalog_background {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.custom-Recommended_section {
  width: auto;
  margin: 1vw;
  background-color: #ebebeb;
  border-radius: 1vw;
  height: auto;
}

.custom-head {
  background: aliceblue;
  font-size: 2vw;
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: 10px;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 1vw;
}

.custom-card {
  display: flex;
  align-items: center;
  height: auto;
  justify-content: space-evenly;
}

