@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Satisfy&display=swap');

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    height: 92vh;
  }
  .navbar{
    grid-column-start: 1;
    grid-column-end: 2;
    /* background-color: grey; */
  }
  .book_section{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 8px;
    margin-top: 50px;
    /* background-color: blue; */
  }
  .book_details_section{
    padding: 15px;
    grid-column-start: 3;
    grid-column-end: 7;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .book_features{
    display: flex;
    flex-direction: column;
  }

  .book_image{
    height: 350px;
    
}
.image{
    height: inherit;
    width: 100%;
    border-radius: 15px;

  }
  .icon{
    color: rgb(235, 215, 215);
  }
  .icon:hover{
    color: rgb(241, 134, 134);
  }
  .buttons_section{
    margin-top: 10px;
    margin-left: 5px;
  }
.book_title{
    font-size: 40px;
    /* font-family: "Lora", "serif"; */
    font-family: "Noto Serif", "serif";
    font-weight: bolder;
}
.author{
    /* font-family: "Lora", "serif"; */
    font-family: "Merriweather", "serif";
    font-size: 20px;
}
.more:hover{
    cursor: pointer;
}
.share_icon{
  cursor: pointer;
  font-size: 20px;
}
.share_hover:hover{
  color: white;

}
.related_books{
  /* font-family: "Libre Baskerville", "serif"; */
  /* font-family: "Lobster", "sans-serif"; */
  /* font-family: "Satisfy", "cursive"; */
    font-family: "Lora", "serif";

  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.heading{
  font-size: 20px;
  font-family: "Libre Baskerville", "serif";
  font-weight: bold;
}

.value{
  font-size: 18px;
  font-family: "Satisfy", "cursive";
}
