@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Satisfy&display=swap');

.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    height: 92vh;
    overflow-y: scroll;

  }

  .book_section{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 8px;
    margin-top: 12px;
  }
  .book_details_section{
    padding: 10px;
    grid-column-start: 3;
    grid-column-end: 9;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  .book_features{
    display: flex;
    flex-direction: column;
  }

  .book_image{
    height: 70%;
    width: 100%;
}
.image{
    height: 100%;
    width: 100%;
    border-radius: 15px;

  }

  .buttons_section{
    margin-top: 1.8rem;
    margin-left: 1.5rem;
  }
.book_title{
    font-size: 2rem;
    font-family: "Lora", "serif";
    /* font-family: "Noto Serif", "serif"; */
    /* font-weight: bolder; */
    color: rgb(128, 16, 16);
}

.author{
    /* font-family: "Lora", "serif"; */
    font-family: "Merriweather", "serif";
    font-size: 1.5rem;
    color: rgb(154, 20, 20);
    font-weight: bold;
}
.more:hover{
    cursor: pointer;
}
.share_icon{
  cursor: pointer;
  font-size: 1.5rem;
}
.share_hover:hover{
  color: white;

}
.heart_icon{
  color: rgb(241, 134, 134);
  font-size: 2rem;
}

.related_books_heading{
  font-family: "Lora", "serif";

  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  color: rgb(158, 37, 18);
}
.related_books{
  /* font-family: "Libre Baskerville", "serif"; */
  /* font-family: "Lobster", "sans-serif"; */
  /* font-family: "Satisfy", "cursive"; */
  font-family: "Lora", "serif";
  
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.place_holder{
  font-size: 1.3rem;
  font-family: "Libre Baskerville", "serif";
  font-weight: bold;
}

.place_value{
  font-size: 1.1rem;
  font-family: "Lora", "serif";
}

.edit_modal_body{
  display: flex;
  flex-direction: column;
}

.loading_style{
   margin-left: 33%;
}


.noOfCopies{
  font-size: 1.1rem;
  font-family: "Lora", "serif";
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4rem;
  color: black;
}
.in_stock{
  border: 2px solid rgb(62, 236, 62);
  background-color: rgb(182, 234, 182);
}

.out_stock{
  border: 2px solid rgb(222, 76, 76);
  background-color: rgb(230, 180, 180);
}

.margin_left{
  margin-left: 8px;
}

.overlay {
  opacity: 0.2;
  z-index: -1;
}

/* .footer{
  grid-row-start: 13;
  grid-row-end: 17;
  grid-column-start: 1;
  grid-column-end: 9;
} */