*{
  font-weight: 500;
}
:root {
  --font1: 1vw;
  --font2: 1.3vw;
}

/* back frame part */
.custom-background {
  margin: 10px 5px;
  width: 15vw;
  height: auto;
  border-radius: 1vw;
}

/* Book container */
.book-card {
  position: relative;
  height: 18vw;
}

/* Image section */
.card-book-image {
  width: 100%;
  height: 100%; 
}

.custom-name_section {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
  height: 5vw;
  letter-spacing: -0.5px;
}

.custom-book_name {
  padding: 0px;
  font-size: var(--font2);
  max-height: 3.1vw;
  max-width: fit-content;
  overflow: hidden;
}

.custom-author_name {
  padding: 0px;
  font-size: var(--font1);
  max-height: 1.5vw;
  max-width: fit-content;
  overflow: hidden;
}

/* buttons */
.custom-buttons {
  margin: 3px 0px;
  justify-content: space-around;
}

.custom-stylebtn {
  margin: 0px -4px;
  display: flex;
  align-items: center;
  font-weight: 600;
  place-content: space-evenly;
  background: aliceblue;
  width: 45%;
  height: 1.5vw;
  border-radius: 0.8vw;
  font-size: var(--font1);
}

.book-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* semi-transparent black overlay */
  border-radius: 8px;
  z-index: 1;
  opacity: 0; /* hidden by default */
  transition: opacity 0.3s ease;
}

.book-card::after {
  content: "Out of Stock";
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  background: gray; 
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; 
  padding: 8px 0; 
  z-index: 2;
  opacity: 0; 
  transition: opacity 0.3s ease;
  white-space: nowrap; 
}

.book-card.out-of-stock::before,
.book-card.out-of-stock::after {
  opacity: 1; 
}

.heart-icon-size{
  height: 1.5rem;
  width: 1.5rem;
}

.card-details-button-size{
  height: 1.5rem;
  width: 1.5rem;
}