:root {
  --font1: 1vw;
  --font2: 1.3vw;
}

/* back frame part */
.custom-background {
  margin: 10px 5px;
  width: 14vw;
  height: auto;
  border: 2px solid darkgray;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 1vw;
}

/* Availability section */
.custom-availability {
  margin: 0px 0px;
  padding: 0px 0px;
  width: 20%;
  height: 1.5vw;
  background-color: #3fd43f;
  position: relative;
  left: 10.5vw;
  z-index: 100;
  top: 0.5vw;
  border-radius: 1vw;
}

/* Image section */
.custom-image {
  margin: -1.3vw auto 3px;
  border-radius: 1vw;
  aspect-ratio: 2/2.5;
  width: 97%;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-name_section {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
  height: 5.2vw;
  letter-spacing: -0.5px;
}

.custom-book_name {
  padding: 0px;
  font-size: var(--font2);
  max-height: 3.5vw;
  overflow: hidden;
}

.custom-author_name {
  padding: 0px;
  font-size: var(--font1);
  max-height: 1.4vw;
  overflow: hidden;
}

/* buttons */
.custom-buttons {
  margin: 2px 0px;
  place-content: space-around;
  position: relative;
  top: 15%;
  justify-content: space-around;
  /* margin: 3px 0px; */
  /* position: relative; */
}

.custom-stylebtn {
  margin: 0px -4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: aliceblue;
  width: 45%;
  height: 1.5vw;
  border-radius: 0.8vw;
  font-size: var(--font1);
}

.custom-stylebtn:hover {
  font-size: 1.1vw;
  background-color: rgb(183, 216, 244);
}
